.create-container {
    background-color: #F6F2FF;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.create-heading {
    color: #240D57;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    max-width: 300px;
}

.create-text {
    color: #240D57;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    max-width: 300px;
    margin:12px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin :40px 0px;
}

@media screen and (min-width: 768px) {
    .create-container{
        height: 100vh;
    }
}