.landing-container {
    background-color: #F6F2FF;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.landing-heading {
    color: #240D57;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    max-width: 300px;
}

.landing-heading-focus {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.landing-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #4F4F4F;
    margin-top: 16px;
    margin-bottom: 32px;
    max-width: 320px;

}

.landing-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing-image {
    height: 300px;
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    border-radius: 13.2326px;
}

.landing-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
    margin: 32px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
/* @media screen and (min-width: 768px) {
    .landing-container{
        height: 100vh;
    }
} */